<!DOCTYPE html>
<meta charset="utf-8" />
<html>

<head>
  <title>Mini Battler</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h1>Mini Battler</h1>
    <div id="connecting" v-if="!connected || id === null">
      <p><em>Connecting...</em></p>
    </div>

    <div id="game" v-else>
      <p>Player {{ id }}</p>

      <div v-if="players[id] != null">
        <p>Health: {{ players[id].health }}</p>
        <button type="button" v-on:click="healSelf">Health +1</button>

        <ul>
          <li v-for="(player, player_id) in players" v-if="id != player_id">
            Player {{ player_id }}, Health: {{ player.health }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="script/index.js"></script>
</body>

</html>
